@keyframes animation-none {
  0%,
  100% {
    opacity: 1;
  }
}

.container {
  --animation-none-delay: 0s;
  --animation-none-duration: 0s;

  & > .animation {
    &.none {
      animation-delay: var(--animation-none-delay);
      animation-duration: var(--animation-none-duration);
      animation-fill-mode: both;
      animation-name: animation-none;
    }
  }
}
