@keyframes animation-none {
  0%,
  100% {
    opacity: 1;
  }
}

.animation-none {
  --animation-none-delay: 0s;
  --animation-none-duration: 0s;

  & > .content {
    animation-delay: var(--animation-none-delay);
    animation-duration: var(--animation-none-duration);
    animation-fill-mode: both;
    animation-name: animation-none;
  }
}
