@keyframes animation-pan-zoom {
  0% {
    transform: scale(var(--animation-pan-zoom-origin-scale))
      translate(
        calc(-100% * var(--animation-pan-zoom-origin-x)),
        calc(-100% * var(--animation-pan-zoom-origin-y))
      );
  }

  100% {
    transform: scale(var(--animation-pan-zoom-target-scale))
      translate(
        calc(-100% * var(--animation-pan-zoom-target-x)),
        calc(-100% * var(--animation-pan-zoom-target-y))
      );
  }
}

.container > .transition > .animation.animation-pan-zoom {
  --animation-pan-zoom-delay: 0s;
  --animation-pan-zoom-duration: 0s;
  --animation-pan-zoom-origin-x: 0.5;
  --animation-pan-zoom-origin-y: 0.5;
  --animation-pan-zoom-origin-scale: 1;
  --animation-pan-zoom-target-x: 0.5;
  --animation-pan-zoom-target-y: 0.5;
  --animation-pan-zoom-target-scale: 1;

  & .content {
    animation-name: animation-pan-zoom;
    transform-origin: 0 0;
    animation-delay: var(--animation-pan-zoom-delay);
    animation-duration: var(--animation-pan-zoom-duration);
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }
}
