@keyframes animation-pan-zoom-animation {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: calc(50% - 50% * var(--animation-pan-zoom-target-scale));
    left: calc(50% - 50% * var(--animation-pan-zoom-target-scale));
  }
}

@keyframes animation-pan-zoom-content {
  0% {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
  }
  100% {
    left: calc(
      100% * var(--animation-pan-zoom-target-scale) *
        (0.5 - var(--animation-pan-zoom-target-x))
    );
    top: calc(
      100% * var(--animation-pan-zoom-target-scale) *
        (0.5 - var(--animation-pan-zoom-target-y))
    );
    width: calc(100% * var(--animation-pan-zoom-target-scale));
    height: calc(100% * var(--animation-pan-zoom-target-scale));
    object-position: calc(100% * var(--animation-pan-zoom-target-x))
      calc(100% * var(--animation-pan-zoom-target-y));
  }
}

.container > .transition > .animation.animation-pan-zoom {
  --animation-pan-zoom-duration: 0s;
  --animation-pan-zoom-target-x: 0.5;
  --animation-pan-zoom-target-y: 0.5;
  --animation-pan-zoom-target-scale: 1;

  animation-name: animation-pan-zoom-animation;

  &,
  & > * {
    animation-duration: var(--animation-pan-zoom-duration);
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }

  & > * {
    animation-name: animation-pan-zoom-content;
    position: relative;
  }
}
